<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="filename">logs/microcontroller-automatomization-project.log</Property>
        <Property name="filePattern">
            logs/microcontroller-automatomization-project.%d{MM-dd-yyyy}-%i.log
        </Property>
        <Property name="pattern">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>

        <RollingFile name="FILE" fileName="${filename}" filePattern="${filePattern}">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5000"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE"/>
        </Root>
        <Logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="ERROR">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE"/>
        </Logger>

        <Logger name="a.danylenko" additivity="false" level="debug">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE"/>
        </Logger>
    </Loggers>
</Configuration>